html,body
{
	background-image: url('img/2.1.jpg');
	font-size: 15px;
	font-family: Montserrat;
	width: 100%;
	margin: 0;
	padding: 0;
}

header
{
	display: flex;
	width: 100%;
	background-color: white;
	align-items: center;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	height: 100px;
	margin-bottom: 40px;
}

.cap
{
	display: flex;
	width: 50%;
	margin: 0 auto;
}

.logline
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.logo
{
	width: 280px;
	height: 280px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#name-header
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: gray;
}

#DB 
{
	margin: 0 auto;
	font-size: 48px;
	font-weight: bold;
}

#PH 
{
	margin: 0 auto;
	margin-top: 10px;
	font-size: 28px;
}

.contaner
{
	display: flex;
	flex-direction: column;
}

nav
{
	font-size: 18px;
	display: flex;
	/*margin: 0 auto;*/
	/*justify-content: space-around;*/
	font-weight: bold;
	width: 50%;
}

nav a
{
	margin-right: 30px;
	color: gray;
	padding-bottom: 2px;
}

nav a:hover
{
	color: #f2683a;
	padding-bottom: 2px;
	text-decoration: none;
}

.content
{
	color: gray;
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	font-size: 15px;
}

a
{
	text-decoration: none;
	color: #f2683a;
}

a:hover
{
	color: gray;
}


.infoBlocks
{
	display: flex;
	width: 50%;
	justify-content: space-between;
	margin: 0 auto;

}


#Block1 
{
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 280px;
	height:330px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
}



#Block2
{
	display: flex;
	flex-direction: column;
	width: 280px;
	height:330px;
	margin: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
}

#Block3
{
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 280px;
	height:330px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
}

.AutoInfo
{
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
	margin-top: 80px;
	display: flex;
	margin-bottom: 80px;
}

#Avatar
{
	margin-left:40px;
	margin-right: 60px;
	margin-top: 30px;
}

#PInfo
{
	margin-right: 10px;
	width: 65%;
	overflow: hidden;
	display: inline-block;
	font-size: 17px;
}

.tab
{
	display: flex;
	flex-basis: 50%;
	justify-content: center;
	margin: 10px;
}

table
{
	color: gray;
	padding: 30px;
	padding-top: 20px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	width: 50%;
}

td 
{
	padding: 20px;
	width: 50%;
}


.priceT
{
	display: flex;
	width: 50%;
	flex-direction: column;
	background-color: white;
	margin: 0 auto;
	/*justify-content: center;*/
	padding: 30px;
	padding-top: 60px;
}

.priceT table
{
	/*margin: 0 auto;*/
	box-shadow: none;
	width: 60%;
}

.name-style
{
	font-weight: bold;
}

.form
{
	display: flex;
	justify-content: center;
	flex-basis: 50%;
	margin: 20px;
}

#form-text
{
	color: gray;
	display: flex;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 40px;
}

form
{
	color: gray;
	margin: 0 auto;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 35px;
	padding-top: 10px;
	width: 300px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

input
{
	color: gray;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid transparent;
}

input:hover
{
	color: gray;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid #f2683a;
}
select
{
	color: gray;
	padding: 10px;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid transparent;
	height: 80px;
}

textarea
{
	color: gray;
	padding: 10px;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid transparent;
}

#bot 
{
	color: gray;
	margin-top: 30px;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid gray;
}

#bot:hover
{
	color: #f2683a;
	margin-top: 30px;
	font-family: Montserrat;
	background-color: transparent;
	border: 2px solid #f2683a;
}

footer
{
	margin-top: 100px;
	margin-top: 30px;
	background-color: white;
	font-weight: bold;
	flex-basis: 100%;
	height: 100px;
	padding-top: 50px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

#foot 
{
	color: gray;
	margin-left: 50px;
	font-weight: bold;
	font-size: 20px;
}













@charset "UTF-8";
/*!Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	vertical-align: top;
}


/*!----------*/
.wrapper {
	margin: auto;
	padding: 50px;
	padding-left: 250px;
	padding-right: 250px;
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.slider {
	margin: 10px 0;
	position: relative;
	padding: 0 30px;
}
.slider__item {
	text-align: center;
}
.slider__item img {
	height: 370px;
	width: 290px;
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 50;
	font-size: 0;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 0;
}
.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("img/svg/arrow_left1.png") 0 0/80% no-repeat;
}
.slider .slick-arrow.slick-next {
	right: 0;
	background: url("img/svg/arrow_right1.png") 0 0/80% no-repeat;
}
.slider .slick-arrow.slick-disabled {
	opacity: 0.4;
}
.slider .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	 margin-top: 30px;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0 8px;
}
.slider .slick-dots li.slick-active button {
	background-color: #f2683a;
}
.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #f2683a55;
	border-radius: 50%;
}





















@media screen and (max-device-width: 500px)
{
	html,body
	{
		background-image: url('img/2.1.jpg');
		font-family: Montserrat;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header
	{
		display: flex;
		width: 100%;
		background-color: white;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
		height: 270px;
		margin-bottom: 50px;
	}

	.cap
	{
		display: flex;
		width: 80%;
		margin: 0 auto;
	}

	.logo
	{
		width: 270px;
		height: 270px;
		align-items: center;
	}

	#name-header
	{
		display: flex;
		align-items: center;
		color: gray;
		font-weight: bold;
		font-size: 45px;
	}

	.contaner
	{
		display: flex;
		flex-direction: column;
	}

	nav
	{
		display: flex;
		margin: 0 auto;
		margin-bottom: 30px;
		flex-direction: column;
		font-size: 45px;
		font-weight: bold;
		width: 80%;
	}

	nav a
	{
		color: gray;
		padding-bottom: 20px;
	}

	nav a:hover
	{
		color: #f2683a;
		padding-bottom: 20px;
		text-decoration: none;
	}

	.content
	{
		color: gray;
		padding: 10px;
		margin: 0 auto;
		width: 80%;
		font-size: 28px;
	}



	.images 
	{
		width: 600px;
		height: 400px;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	}

	a
	{
		text-decoration: none;
		color: #f2683a;
	}

	a:hover
	{
		color: gray;
	}


	.tab
	{
		display: flex;
		order: 2;
		flex-basis: 80%;
		justify-content: center;
		margin: 20px;
	}

	table
	{
		font-size: 35px;
		width: 78%;
		color: gray;
		padding: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
		margin-bottom: 30px;
	}

	td 
	{
		padding: 10px;
	}

	.form
	{
		display: flex;
		order: 1;
		justify-content: center;
		flex-basis: 80%;
		margin: 20px;
		font-size: 35px;
	}

	#form-text
	{
		display: flex;
		justify-content: center;
		font-size: 65px;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 40px;
	}

	form
	{
		color: gray;
		margin: 0 auto;
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 35px;
		padding-top: 10px;
		width: 70%;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	}

	input
	{
		font-size: 35px;
		color: gray;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid transparent;
	}

	input:hover
	{
		font-size: 35px;
		color: gray;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid #f2683a;
	}

	select
	{
		font-size: 35px;
		color: gray;
		padding: 10px;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid transparent;
		height: 60px;
	}

	textarea
	{
		font-size: 35px;
		padding: 10px;
		color: gray;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid transparent;
	}

	#bot 
	{
		color: gray;
		margin-top: 30px;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid gray;
	}

	#bot:hover
	{
		color: #f2683a;
		margin-top: 30px;
		font-family: Montserrat;
		background-color: transparent;
		border: 2px solid #f2683a;
	}

	footer
	{
		display: flex;
		width: 100%;
		background-color: white;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
		height: 120px;
	}

	#foot 
	{
		margin-top: 20px;
		color: gray;
		margin-left: 50px;
		font-weight: bold;
		font-size: 38px;
	}
}